@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #18181b;
  --border: #27272a;
  --muted: #a1a1aa;
}

html {
  color-scheme: dark;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
